In [1]:
# Import dependencies
import pandas as pd
from datetime import date

In [2]:
# Save lockdown data to dataframe
lockdown_link = 'data/covid_lockdown.csv'
lockdown_data = pd.read_csv(lockdown_link)
lockdown_data = lockdown_data[:(len(lockdown_data) - 1)]   # gets rid of last extra row from csv
lockdown_data.head()

  Countries and territories    Place  Start date    End date     Level
0                   Albania      NaN  2020-03-13         NaN  National
1                   Algeria  Algiers  2020-03-23  2020-04-19      City
2                   Algeria    Blida  2020-03-23  2020-04-19      City
3                 Argentina      NaN  2020-03-19  2020-05-10  National
4                   Armenia      NaN  2020-03-24  2020-04-14  National

In [21]:
# To make calculations easier, replace any TBD or NaN in 'End date' with today's date.
today = str(date.today())

lockdown_data['End date'] = lockdown_data['End date'].fillna(today)
lockdown_data['End date'] = lockdown_data['End date'].str.replace(pat = 'TBD', repl= today)

In [23]:
lockdown_data

,Countries and territories,Place,Start date,End date,Level
0,Albania,NaN,2020-03-13,2020-05-06,National
1,Algeria,Algiers,2020-03-23,2020-04-19,City
2,Algeria,Blida,2020-03-23,2020-04-19,City
3,Argentina,NaN,2020-03-19,2020-05-10,National
4,Armenia,NaN,2020-03-24,2020-04-14,National
5,Australia,NaN,2020-03-23,2020-05-06,National
6,Austria,NaN,2020-03-16,2020-04-13,National
7,Azerbaijan,NaN,2020-03-31,2020-04-20,National
8,Bangladesh,NaN,2020-03-26,2020-04-25,National
9,Barbados,NaN,2020-03-28,2020-05-03,National
10,Belgium,NaN,2020-03-18,2020-04-19,National
11,Bermuda,NaN,2020-04-04,2020-05-02,National
12,Bolivia,NaN,2020-03-22,2020-04-15,National
13,Botswana,NaN,2020-04-02,2020-04-30,National
14,Brazil,Santa Catarina,2020-03-17,2020-04-07,State
15,Brazil,Sao Paulo,2020-03-24,2020-04-08,State
16,Chile,NaN,2020-03-19,2020-05-06,National
17,Colombia,NaN,2020-03-25,2020-05-11,National
18,Republic of the Congo,NaN,2020-03-31,2020-04-20,National
19,Costa Rica,NaN,2020-03-23,2020-05-06,National
20,Croatia,NaN,2020-03-18,2020-04-19,National
21,Cuba,NaN,2020-03-23,2020-04-20,National
22,Czech Republic,NaN,2020-03-16,2020-04-12,National
23,Denmark,NaN,2020-03-11,2020-04-13,National
24,Dominican Republic,NaN,2020-03-19,2020-05-06,National
25,Ecuador,NaN,2020-03-16,2020-03-31,National
26,El Salvador,NaN,2020-03-12,2020-04-02,National
27,Eritrea,NaN,2020-04-02,2020-04-23,National
28,Fiji,Lautoka,2020-03-20,2020-04-07,City
29,Fiji,Suva,2020-04-03,2020-04-17[,City
...,...,...,...,...,...
90,Saudi Arabia,Jeddah,2020-03-29,2020-05-06,City
91,Saudi Arabia,Mecca,2020-03-26,2020-05-06,City
92,Saudi Arabia,Medina,2020-03-26,2020-05-06,City
93,Saudi Arabia,Qatif,2020-03-09,2020-05-06,Area
94,Saudi Arabia,Riyadh,2020-03-26,2020-05-06,City
95,Serbia,NaN,2020-03-15,2020-05-04,National
96,Singapore,NaN,2020-04-07,2020-06-01,National
97,Slovakia,NaN,2020-03-16,2020-04-22,National
98,South Africa,NaN,2020-03-26,2020-04-30,National
99,Spain,NaN,2020-03-14,2020-05-09,National
100,Switzerland,NaN,2020-03-17,2020-05-11,National
101,Thailand,NaN,2020-03-25,2020-05-31,National
102,Trinidad and Tobago,NaN,2020-03-17,2020-03-31,National
103,Tunisia,NaN,2020-03-22,2020-04-19,National
104,Turkey,NaN,2020-04-23,2020-04-27,National
105,Ukraine,NaN,2020-03-17,2020-04-24,National
106,United Arab Emirates,NaN,2020-03-26,2020-04-17,National
107,United Kingdom,NaN,2020-03-23,2020-05-06,National
108,United States,California,2020-03-19,2020-05-06,State
109,United States,"Clark County, NV",2020-03-20,2020-05-06,County
110,United States,Connecticut,2020-03-23,2020-04-22,State
111,United States,Illinois,2020-03-21,2020-05-30,State
112,United States,"Kansas City, KS",2020-03-24,2020-04-19,City
113,United States,Massachusetts,2020-03-24,2020-05-04,State
114,United States,Michigan,2020-03-24,2020-04-13,State
115,United States,New York,2020-03-20,2020-05-15,State
116,United States,Oregon,2020-03-24,2020-05-06,State
117,United States,Wisconsin,2020-03-24,2020-05-06,State
118,Venezuela,NaN,2020-03-17,2020-05-13,National
119,Zimbabwe,NaN,2020-03-30,2020-05-02,National

In [4]:
# Save covid data to dataframe
cov_link = 'data/world_covid.csv'
cov_data = pd.read_csv(cov_link)
cov_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,04/05/2020,4,5,2020,235,13,Afghanistan,AF,AFG,37172386.0,Asia
1,03/05/2020,3,5,2020,134,4,Afghanistan,AF,AFG,37172386.0,Asia
2,02/05/2020,2,5,2020,164,4,Afghanistan,AF,AFG,37172386.0,Asia
3,01/05/2020,1,5,2020,222,4,Afghanistan,AF,AFG,37172386.0,Asia
4,30/04/2020,30,4,2020,122,0,Afghanistan,AF,AFG,37172386.0,Asia

In [5]:
cov_data[['cases', 'deaths']].describe()

              cases        deaths
count  14866.000000  14866.000000
mean     233.238329     16.613682
std     1611.790547    123.954216
min    -1430.000000      0.000000
25%        0.000000      0.000000
50%        1.000000      0.000000
75%       30.000000      1.000000
max    48529.000000   4928.000000

In [6]:
print('there are {} unique countries'.format(len(cov_data['countriesAndTerritories'].unique())))
print('there are {} rows total'.format(len(cov_data)))

there are 209 unique countries
there are 14866 rows total